@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0 auto;

  font-family: "Satoshi", "Boska";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  overflow-x: hidden;
  padding: 0;
  background: black;
 
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.woff") format("woff"),
  url("./assets/fonts/Satoshi-Regular.woff2") format("woff2")
    url("./assets/fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.woff") format("woff"),
  url("./assets/fonts/Satoshi-Bold.woff2") format("woff2")
    url("./assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Boska";
  src: url("./assets/fonts/Boska-MediumItalic.woff") format("woff"),
  url("./assets/fonts/Boska-MediumItalic.woff2") format("woff2"),
  url("./assets/fonts/Boska-MediumItalic.ttf") format("truetype");
  font-weight: normal;
}


@layer base {
  /* utility classes */

  .container {
    @apply pt-[30px] sm:px-[50px] px-[24px] mx-auto ;
  }

  .yellow {
    @apply text-yellow;
  }
    .black {
    @apply text-black;
  }

  .card {
    @apply p-[24px] rounded-[15px] bg-yellow   border-none ;
  }
  .card-blue {
    @apply rounded-[15px] bg-blue   border-none ;
  }
  .card-img {
    @apply  rounded-[15px]  bg-blue bg-cover hover:scale-105 duration-500 p-[24px] ;
  }

  .animate-scroll:hover {
    animation-play-state: paused;
  }
  /* text styles */

  p {
    @apply lg:text-lg  text-[16px] text-white;
  }

  ul,
  li,
  a {
    @apply text-[16px]  list-none text-white opacity-90;
  }

  ul,
  li:hover,
  a:hover {
    @apply text-yellow opacity-100;
  }

  h1 {
    @apply sm:text-6xl text-white text-3xl;
  }

  h2 {
    @apply sm:text-3xl text-white text-[20px];
  }

  /* button style */
  .btn-yellow {
    @apply text-black bg-yellow py-[12px] px-[22px]  rounded-xl border-black border-2;
  }
  .btn-white {
    @apply text-black bg-white py-[12px] px-[22px]  rounded-xl border-black border-2;
  }
  .btn:hover {
    @apply text-white bg-black py-[12px] px-[22px]  rounded-xl border-white border-2 duration-500 ease-in-out;
  }
  .active {
    @apply text-white bg-black py-[12px] px-[22px]  rounded-xl border-white border-2 duration-500 ease-in-out;
  }

  img {
    @apply object-cover  ; 
  }

  ::-webkit-scrollbar{
   @apply hidden;
   
  }
.footer-form{
  @apply my-sm border-gray-300 border-[1px] rounded-[9px] p-2 ;
}

.form{
  @apply  border-gray-300 border-[1px] rounded-[9px] p-2 ;
}
}

